/* Main */
.main {
	left: 0;
	right: 0;
	padding: 20px;
}
.main .user-code {
	padding: 3px 10px 5px 10px;
	height: 30px;
	background-color: rgba(0,0,0,0.6);
	border-radius: 5px;
	color: #fff;
	float: right;
}
.main .user-code > span {
	vertical-align: middle;
	font-size: 90%;
	font-weight: bold;
}
.main .user-code .txt.txt-user {
	background-color: rgba(255,255,255,0.6);
	text-align: right;
	width: 100px;
}
.main textarea {
	width: 100%;
	height: calc(100% - 40px);
	margin-top: 10px;
	outline: none;
	resize: none;
	border-radius: 10px;
	padding: 20px;
	background-color: rgba(255,255,255,0.9);
    border: 2px inset rgba(0,0,0,0.6);
	box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.6);
}
.head-title .instructions {
	margin: 0 10px;
	color: #0080C5;
	cursor: pointer;
}