/* Main */
body, .main {
	background-color: #555;
}
.main {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.3);
	padding: 20px;
}
.main textarea.manager {
	width: 100%;
	height: 100%;
	outline: none;
	resize: none;
	background-color: rgba(255,255,255,0.9);
	border-radius: 20px;
	padding: 20px;
}